body {
  background: linear-gradient(
  to bottom,
  #add8e6,
  #add8e6 50%,
  #99cfe0 50%,
  #99cfe0
);
/* The rectangle in which to repeat. 
   It can be fully wide in this case */
background-size: 100% 20px;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 20px;
}

.App-header {
  background-color: #add8e6;
  line-height: 22pt;
  align-items: center;
  justify-content: center;
  font-size: 18pt;
  color: white;
}

.App-link {
  color:#e6bbad;
}

.Button {
  margin: 20px;
}

.Paper {
  padding: 20px;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  padding:10px;
}



